<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiBaseURI</key>
	<string>https://nycfirewire-staging.herokuapp.com/api/v1</string>
	<key>webBaseURI</key>
	<string>https://nycfirewire-staging.herokuapp.com</string>
	<key>onesignalAppID</key>
	<string>0366eec4-c67f-472e-9a4f-8f73461f1353</string>
</dict>
</plist>
