<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>223386379375-sd7bkbbvbgftj9hpp0594h8q0ei2uero.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.223386379375-sd7bkbbvbgftj9hpp0594h8q0ei2uero</string>
	<key>API_KEY</key>
	<string>AIzaSyCSktEzks8m6T0NOh5FlFWEGif1cLb-ljs</string>
	<key>GCM_SENDER_ID</key>
	<string>223386379375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kbf.app13822684</string>
	<key>PROJECT_ID</key>
	<string>nycfirewire-8ea48</string>
	<key>STORAGE_BUCKET</key>
	<string>nycfirewire-8ea48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:223386379375:ios:86cd9ee918b44479</string>
	<key>DATABASE_URL</key>
	<string>https://nycfirewire-8ea48.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7236390531604246~3719788746</string>
</dict>
</plist>